.btn-default{background:red;}
.progress-new1{color: #42f46b;}
.glyphicon-color{color: #dda711;}
.fa-star-o{color:#dda711;}
.fa-linkedin-square{color:;}
.fa-twitter
.bg-primary{background-color: red;}
.font-nav{font-family:"Avenir";}
.navcolor{color: white;}
.navbar{background: #0a48ad;}
.mainbackground1{background-image: url("../img/background1.jpeg"); background-size: 100% 600px;}
.jumbotron{background-image: url("../img/landing1.jpeg"); background-size: 100% 800px;}
.bottom-three{margin-bottom: 20%;}
.top-three{margin-top:40%;}
.titlefont{font-size: 72px;}
.secondary-font-landing{font-size:20px;}